@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
    margin:0;
    padding:0;
	overflow-x: hidden;
}
.menu {
    position: fixed! important;
	background: #fff;
	box-shadow: 0px 2px 15px #eee;
	height: 10vh;
    color:#555;
    letter-spacing: 1px;
    width: 100%;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0; 
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555;
	font-family : Montserrat;
	font-size: 4.5vw;
    animation: menu 1.5s ease;
}
@-webkit-keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@-moz-keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@-o-keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
.num_link {
	position: absolute;
	margin-left: 20vw;
}
.menu_logo {
	z-index:999;
	position: absolute;
	height: 5.5vw;
	margin-left: -30vw;
}
.menu_logo:hover {
	cursor: pointer;
}
.content {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0; 
}
.circle_bg  {
	position: absolute;
	top: 0;
	left: 0; 
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
 .change_bg1, .change_bg2, .change_bg3, .change_bg4 {
	position: absolute;
	z-index:3;
    position:fixed;
	max-height: 600px;
	max-width: 100vw;
}
.float_img {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
}
.img_shadow {
	box-shadow: 0px 0px 20px #ddd;
}
.float_text {
	position: absolute;
	z-index: 2;
	background: #fff;
	font-family : Quicksand;
	font-size: 2.2vw;
	padding: 2vw;
}
.float_text_bold {
	font-weight: 700;
	font-size: 2vw;
	letter-spacing: 0.2vw;
}
.float_bottom {
	position: absolute;
	z-index: 2;
	top: 1400vh;
	width: 100px;
	height: 20vh;
	background: none;
}
.price_text {
    opacity: 0;
	color: #000;
	position: absolute;
	position: fixed;
	width: 100vw;
	bottom: 15vh;
	text-align: center;
	font-family : Quicksand;
	font-size: 5vw;
	letter-spacing: 0.2vw;
	z-index: 1;
}
.to_top {
    opacity: 0;
	position: absolute;
	position: fixed;
	width: 100vw;
	bottom: 6vh;
	text-align: center;
	font-family : Quicksand;
	font-weight: 700;
	color: #ddd;
	font-size: 6vw;
	z-index: 2;
}
.to_top span, .num_link span, .num_link a {
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}
.to_top span:hover {
	cursor: pointer;
	color: #555;
}
.num_link span:hover {
	cursor: pointer;
	color: #aaa;
}
.num_link a {
	text-decoration: none;
	color: #555;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}
.num_link a:hover {
	cursor: pointer;
	color: #aaa;
}