.float_img1 {
	display: block;
	margin-top: 60%;
	margin-left: 48%; 
	max-height: 400px;
	max-width: 100%;
}
.float_img2 {
	display: block;
	margin-top: 50%;
	margin-left: 18%; 
	max-height: 450px;
	max-width: 100%;
}
.float_img3 {
	display: block;
	margin-top: 50%;
	margin-left: 30%; 
	max-height: 420px;
	max-width: 100%;
}
.float_img4 {
	display: block;
	margin-top: 100%;
	margin-left: 20%; 
	max-height: 450px;
	max-width: 100%;
}
.float_img5 {
	display: block;
	margin-top: 50%;
	margin-left: 60%; 
	max-height: 340px;
	max-width: 100%;
}
.float_img6 {
	margin-top: 50%;
	margin-left: 42%; 
	max-height: 500px;
	max-width: 100%;
}
.float_img7 {
	margin-top: 50%;
	margin-left: 55%; 
	max-height: 420px;
	max-width: 100%;
}
.float_img8 {
	margin-top: 50%;
	margin-left: 22%; 
	max-height: 500px;
	max-width: 100%;
}
.float_img9 {
	margin-top: 50%;
	margin-left: 48%; 
	max-height: 500px;
	max-width: 100%;
}
.float_img10 {
	margin-top: 100%;
	margin-left: 28%; 
	max-height: 500px;
	max-width: 100%;
}
.float_text1 {
	margin-top: 50%;
	margin-left: 45%; 
	width: 30%;
}
.float_text2 {
	margin-top: 50%;
	margin-left: 20%; 
	width: 18%;
}
