.float_img1 {
	position: absolute;
	top: 110vh;
	left: 10vw; 
	margin: auto;
	max-height: 250px;
	max-width: 100vw;
}
.float_img2 {
	position: absolute;
	top: 215vh;
	right: -90vw; 
	max-height: 300px;
	max-width: 100vw;
}
.float_img3 {
	position: absolute;
	top: 310vh;
	left: 15vw; 
	max-height: 350px;
	max-width: 100vw;
}
.float_img4 {
	position: absolute;
	top: 530vh;
	right: -85vw; 
	max-height: 280px;
	max-width: 100vw;
}
.float_img5 {
	position: absolute;
	top: 610vh;
	left: 15vw; 
	max-height: 230px;
	max-width: 100vw;
}
.float_img6 {
	position: absolute;
	top: 700vh;
	left: 11vw; 
	max-height: 350px;
	max-width: 100vw;
}
.float_img7 {
	position: absolute;
	top: 780vh;
	right: -93vw; 
	max-height: 280px;
	max-width: 100vw;
}
.float_img8 {
	position: absolute;
	top: 870vh;
	left: 12vw; 
	max-height: 230px;
	max-width: 100vw;
}
.float_img9 {
	position: absolute;
	top: 940vh;
	right: -90vw; 
	max-height: 320px;
	max-width: 100vw;
}
.float_img10 {
	position: absolute;
	top: 1180vh;
	right: -91vw; 
	max-height: 350px;
	max-width: 100vw;
}
.float_text1 {
	top: 450vh;
	left: 25vw; 
	width: 45vw;
}
.float_text2 {
	top: 1080vh;
	left: 20vw; 
	width: 35vw;
}
