@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
    margin:0;
    padding:0;
	overflow-x: hidden;
}
.menu {
    text-align:center;
	position: fixed! important;
	background: #fff;
	box-shadow: 0px 2px 15px #eee;
	height: 10%;
    color: #555;
    letter-spacing: 1px;
    width: 100%;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0; 
	color: #555;
	font-family : Montserrat;
	font-size: 1rem;
    animation: menu 1.5s ease;
}
@-webkit-keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@-moz-keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@-o-keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
.num_link {
	font-size: 1rem;
	margin: auto;
	position: absolute;
	height: 1.2rem;
	float: right;
	right: 10%;
	top: 0;
	bottom: 0;
}
.menu_logo {
	z-index: 999;
	display: block;
	height: 50%;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: 10%;
}
.menu_logo:hover {
	cursor: pointer;
}
.content {
	z-index: 1;
	position: absolute;
	top: 0%;
	left: 0; 
    position: fixed;
	background: none;
	width: 100%;
	height: 100%;
	display: block;
}
 .change_bg1, .change_bg2, .change_bg3, .change_bg4 {
	top: 30%;
	position: absolute;
	z-index: 3;
	width: 100%;
}
.float_img {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
}
.img_shadow {
	box-shadow: 0px 0px 20px #ddd;
}
.float_img1 {
	display: block;
	margin-top: 200%;
	width: 100%;
}
.float_img2 {
	display: block;
	margin-top: 200%;
	width: 100%;
}
.float_img3 {
	display: block;
	margin-top: 200%;
	width: 100%;
}
.float_img4 {
	display: block;
	margin-top: 400%;
	width: 100%;
}
.float_img5 {
	display: block;
	margin-top: 200%;
	width: 100%;
}
.float_img6 {
	display: block;
	margin-top: 200%;
	width: 100%;
}
.float_img7 {
	display: block;
	margin-top: 200%;
	width: 100%;
}
.float_img8 {
	display: block;
	margin-top: 200%;
	width: 100%;
}
.float_img9 {
	display: block;
	margin-top: 200%;
	width: 100%;
}
.float_img10 {
	display: block;
	margin-top: 400%;
	width: 100%;
}

.float_text {
	position: absolute;
	z-index: 2;
	background: #fff;
	font-family : Quicksand;
	font-size: .8rem;
	padding: 10%;
}
.float_text_bold {
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 0.1rem;
}
.float_text1 {
	display: block;
	margin-top: 200%;
	width: 80%;
}
.float_text2 {
	margin-top: 200%;
	display: block;
	width: 80%;
}
.float_bottom {
	position: absolute;
	z-index: 2;
	width: 100px;
	height: 7%;
	background: none;
}
.price_text {
    opacity: 0;
	color: #000;
	position: absolute;
	position: fixed;
	width: 100%;
	bottom: 17%;
	text-align: center;
	font-family : Quicksand;
	font-size: 1rem;
	z-index: 1;
}
.to_top {
    opacity: 0;
	position: absolute;
	position: fixed;
	width: 100%;
	bottom: 6%;
	text-align: center;
	font-family : Quicksand;
	font-weight: 700;
	color: #ddd;
	font-size: 2rem;
	z-index: 2;
}
.to_top span, .num_link span, .num_link a {
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}
.to_top span:hover {
	cursor: pointer;
	color: #555;
}
.num_link span:hover {
	cursor: pointer;
	color: #aaa;
}
.num_link a {
	text-decoration: none;
	color: #555;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}
.num_link a:hover {
	cursor: pointer;
	color: #aaa;
}
