@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
    margin:0;
    padding:0;
	overflow-x: hidden;
}
.menu {
    text-align: center;
	width: 100%;
	position: fixed! important;
	background: #fff;
	box-shadow: 0px 2px 15px #eee;
	height: 10%;
    color: #555;
    letter-spacing: 1px;
    width: 100%;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0; 
	color: #555;
	font-family : Montserrat;
	font-size: 1.6rem;
    animation: menu 1.5s ease;
}
@-webkit-keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@-moz-keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@-o-keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@keyframes menu {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
.num_link {
	width: 100%;
	text-align: center;
	position: absolute;
	margin-top: 4%;
	margin-left: 20%;
}
.menu_logo {
	z-index: 999;
	position: absolute;
	width: 20%;
	margin-top: 3.5%;
	margin-left: -40%;
}
.menu_logo:hover {
	cursor: pointer;
}
.content {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0; 
}
.circle_bg  {
	position: absolute;
	top: 0;
	left: 0; 
	width: 100%;
}
 .change_bg1, .change_bg2, .change_bg3, .change_bg4 {
	position: absolute;
	z-index: 3;
    position: fixed;
	margin-top: 30%;
	width: 100%;
}
.float_img {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
}
.img_shadow {
	box-shadow: 0px 0px 20px #ddd;
}
.float_text {
	position: absolute;
	z-index: 2;
	background: #fff;
	font-family : Quicksand;
	font-size: 1.2rem;
	padding: 2%;
}
.float_text_bold {
	font-weight: 700;
	font-size: 2rem;
	letter-spacing: 5px;
}
.float_bottom {
	position: absolute;
	z-index: 2;
	top: 100%;
	width: 100px;
	height: 20%;
	background: none;
}
.price_text {
    opacity: 0;
	color: #000;
	position: absolute;
	position: fixed;
	width: 100%;
	bottom: 15%;
	text-align: center;
	font-family : Quicksand;
	font-size: 2rem;
	letter-spacing: 3px;
	z-index: 1;
}
.to_top {
    opacity: 0;
	position: absolute;
	position: fixed;
	width: 100%;
	bottom: 6%;
	text-align: center;
	font-family : Quicksand;
	font-weight: 700;
	color: #ddd;
	font-size: 2.5rem;
	z-index: 2;
}
.to_top span, .num_link span, .num_link a {
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}
.to_top span:hover {
	cursor: pointer;
	color: #555;
}
.num_link span:hover {
	cursor: pointer;
	color: #aaa;
}
.num_link a {
	text-decoration: none;
	color: #555;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}
.num_link a:hover {
	cursor: pointer;
	color: #aaa;
}
