.float_img1 {
	display: block;
	margin-top: 150%;
	float: right;
	margin-right: 3%; 
	width: 75%;
}
.float_img2 {
	display: block;
	margin-top: 100%;
	float: left;
	margin-left: 8%; 
	width: 55%;
}
.float_img3 {
	display: block;
	margin-top: 120%;
	float: left;
	margin-left: 8%; 
	width: 75%;
}
.float_img4 {
	display: block;
	margin-top: 135%;
	float: right;
	margin-right: 5%; 
	width: 80%;
}
.float_img5 {
	display: block;
	margin-top: 300%;
	float: left;
	margin-left: 6%; 
	width: 70%;
}
.float_img6 {
	display: block;
	margin-top: 120%;
	float: right;
	margin-right: 8%; 
	width: 65%;
}
.float_img7 {
	display: block;
	margin-top: 120%;
	float: left;
	margin-left: 7%; 
	width: 70%;
}
.float_img8 {
	display: block;
	margin-top: 200%;
	float: left;
	margin-left: 7%; 
	width: 85%;
}
.float_img9 {
	display: block;
	margin-top: 150%;
	float: right;
	margin-right: 2%; 
	width: 60%;
}
.float_img10 {
	display: block;
	margin-top: 160%;
	float: left;
	margin-left: 8%; 
	width: 80%;
}
.float_text1 {
	display: block;
	margin-top: 820%;
	float: left;
	margin-left: 15%; 
	width: 65%;
}
.float_text2 {
	display: block;
	margin-top: 2400%;
	float: left;
	margin-left: 40%; 
	width: 45%;
}
