@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
    font-family:arial;
    margin:0;
    padding:0;
	overflow-x: hidden! important;
	width: 100%;
}
.landing {
    height: 85%;
}
.landing_bg {
	background-image: url('img/landing_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index:1;
	position: absolute;
	left: 0;
	top: 0;
    height: 100%;
	width: 100%;
}
.landing_shape {
	background-image: url('img/landing_word.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index:2;
	position: absolute;
	left: 0;
	top: 0;
    height: 100%;
	width: 100%;
    -webkit-animation: shape 1.5s ease;
    -moz-animation: shape 1.5s ease;
    -o-animation: shape 1.5s ease;
    animation: shape 1.5s ease;
}
@-webkit-keyframes shape {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@-moz-keyframes shape {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@-o-keyframes shape {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
@keyframes shape {
    0% { opacity: 0 }
    100%  { opacity: 1 }
}
.menu {
	height: 15%;
    background: transparent;
    color:#555;
    letter-spacing: 1px;
    width: 100%;
	z-index: 4;
	position: absolute;
	left: 0;
	top: 85%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555;
	font-family : Montserrat;
	font-size: 1.5rem;
	-webkit-transition: background .3s, height .5s, box-shadow .5s;
	-moz-transition: background .3s, height .5s, box-shadow .5s;
	-o-transition: background .3s, height .5s, box-shadow .5s;
	transition: background .3s, height .5s, box-shadow .5s;
}
.content {
	display: flex;
	width: 100%;
	z-index: 3;
	position: absolute;
	top: 100%;
	height: 400%;
	justify-content: center;
}
.index01 {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 100%;
    margin: auto;
	position: absolute;
	top: 10%;
	left: 0;
}
.index01_bg {
	display: none;
}
.index01_img {
    opacity: 0;
	z-index: 7;
	position: absolute;
	top: 0%;
	width: 50%;
	height: auto;
}
.animate1 {
	display: none;
}
.animate2 {
	display: none;
}
.animate3 {
	display: none;
}
.index02 {
	z-index: 9;
	align-items: center;
	justify-content: center;
	position: absolute;
	display: flex;
	width: 100%;
	top: 20%;
	background: none;
	font-size: 1.2rem;
	font-family: Quicksand;
	font-weight: 400;
	margin: auto;
}
.index02_word {
    opacity: 0;
	z-index: 11;
	position: absolute;
	width: 70%;
}
.index02_word:after {
	content: '';
	display: block;
	width: 4%;
	border-bottom: 5px solid #eee;
	padding-bottom: 25px;
}
.index02 span {
	font-weight: 700;
}
.mags {
	padding-top: 30%;
	opacity: 0;
	margin-top: 90%;
	text-align: center;
	margin-left: -5%;
}
.mags img {
	display: inline-block;
	margin: 0px;
	max-width: 38%;
}
.animate4 {
	display: none;
}
.animate5 {
	display: none;
}
.animate6 {
	display: none;
}
.animate7 {
	display: none;
}
.bottom_img {
	z-index: 4;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}

.menu_logo {
	display: none;
	z-index: 999;
	position: absolute;
	width: 25%;
	margin-left: -30%;
}
.menu_logo:hover {
	cursor: pointer;
}
.logo_appear {
	display: block;
}
.sticky {
    position: fixed;
    top: 0%;
	background: #fff;
	box-shadow: 0px 2px 15px #eee;
	height: 10%;
}
.num_link {
	-webkit-transition: font-size .7s, margin .7s;
	-moz-transition: font-size .7s, margin .7s;
	-o-transition: font-size .7s, margin .7s;
	transition: font-size .7s, margin .7s;
}
.num_link a {
	text-decoration: none;
	color: #555;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}
.num_link a:hover {
	cursor: pointer;
	color: #aaa;
}
.num_sticky  {
	font-size: 1rem;
	margin-left: 35%;
}
